<!DOCTYPE html>
<html lang="en">
<!-- Main Page -->
<!-- convert to handlebars.js - then delete -->

<!-- Q: Does nav bar and header fit within body? -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Social Network API</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <h1 class="title-header">
                <span >Social Network</span>
            </h1>
            <nav>
                <!-- Conditionally render login or logout links -->
                <!-- {{#if logged_in}} -->
                <a href="/profile">profile</a> |
                <button class="no-button" id="logout">logout</button>
                <!-- {{else}} -->
                <a href="/login">login</a>
                <!-- {{/if}} -->
            </nav>
        </header>
        <main class="container container-fluid mt-5">
            <!-- Render the sub layout -->
            <!--Welcomes user on every page? -->
            <h2>Welcome, {{name}}!</h2>
            {{{ body }}}
        </main>
        <footer>
            <h6>2022 Anita Chengalva</h6>
        </footer>
    </div>

    <!-- Render script for logged in users only -->
    <!-- {{#if logged_in}} -->
    <script src="/js/logout.js"></script>
    <!-- {{/if}} -->
</body>
</html>